<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.geekbrains.evgeniy.weatherapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".WeatherApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.home.MainActivity"
            android:theme="@style/MyAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.home.CityForecastActivity"
            android:theme="@style/MyAppTheme"/>
        <service android:name=".services.UpdateService"
            android:exported="false"
            />
        <!-- WIDGET BEGIN -->
        <activity android:name=".widget.WidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <receiver
            android:name=".widget.WidgetCities"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>
        <service
            android:name=".services.CitiesWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <!-- WIDGET END -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="26561df6ecccff14c554771372e104e1cdb667a3" />
    </application>

</manifest>